@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/OpenSans-Regular.woff);  
    src: url(../fonts/OpenSans-Regular.woff2);  
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/OpenSans-Bold.woff); 
    src: url(../fonts/OpenSans-Bold.woff2);
    font-weight: 700;
    font-style: normal;
  }

* {
    margin: 0;
    padding: 0; 
    -webkit-appearance: none;
    -moz-appearance: none;
  }

html {
    font-size: 62.5%;
    font-family: OpenSans-Regular;
  }
  
.page {
    width: 100vw;
  }
 
/*Header*/

.header {
    width: 100%;
    background-image: url("../images/football_767.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
  }

.header::after {
    content: "";
    background-color: #191c3f;
    opacity: 0.8;
    position: absolute;
  	top: 0;
	  left: 0;
	  right: 0;
    bottom: 0;
    z-index: 0;
  }

.header-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
  }

.logo-text {
    display: block;
    width: 13.5rem;
    fill: #ffffff;
    padding-top: 3rem;  
  }

.header-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #ffffff;
    padding-top: 13rem;
    font-size: 2.8rem;
    font-family: OpenSans-Bold;
    text-transform: uppercase;
  }

.header-title-start {
    padding-left: 2rem;
  }
    
.header-title-end {
    max-width: 24rem;
    padding-top: 3rem;
    padding-right: 2rem;
    margin-left: auto;
 }

.stores-links {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;
    font-size: 0.8rem;
    font-style: normal;
    text-transform: uppercase;
  }

.stores {
    list-style-type: none;
  }

.store-item {
    background-color: #5e42b0;
    width: 28rem;
    height: 3.5rem;
    border-radius: 3.5rem;
    display: flex;
    align-items: center;
  }

.store-item:nth-child(n+2) {
    margin-top: 1.5rem;
  }

.visually-hidden {
    display: none;
  }

.store-logo {
    fill: #ffffff;
    width: 2rem;
    height: 2rem;
    padding-left: 8rem;
  }

.store-link {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    width: 100%;
  }

.store-link-content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
  }

.store-link-name {
    font-family: OpenSans-Bold;
  }

/*MAIN*/

.main-section {
    position: relative;
  }

.main-section-header {
    font-size: 5rem;
    text-transform: uppercase;
    color: #e7e7e7;
    font-family: OpenSans-Bold;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-bottom: 22rem;
  }

.section-athlets .article-image,
.section-players .article-image {
    display: block;
    margin: auto;
    max-width: 100%;
    position: absolute;
    top: 8rem;
  	left: 0;
	  right: 0;
  }

.article-image {
    display: block;
    margin: auto;
    max-width: 100%;
  }

.main-article {
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
  }

.article-connection {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
  }

.article-collaboration {
    width: 100%;
    height: 100%;
    background-color: #f5f4f9;
  }

.article-athlets-growth {
    width: 100%;
    height: 100%;
    background-color: #5e42b0;
    color: #ffffff;
  }

.article-players-growth {
    width: 100%;
    height: 100%;
    background-color: #090c35;
    color: #ffffff;
  }

  .article-number {
    font-size: 1.4rem;
    font-family: OpenSans-Bold;
    padding-left: 2rem;
    vertical-align: middle;
    position: relative;
  } 

.article-number-growth {
    color: #000000;
  }

.article-players-growth>.article-number-growth {
    color: #8765dd;
  }

  .article-number::after {
    content: "";
    width: 1.7rem;
    height: 0.4rem;
    border-radius: 0.1rem;
    background-color: #5e42b0;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0.5rem;  
    left: 2rem;
  }

.article-number-growth::after {
    content: "";
    width: 1.7rem;
    height: 0.4rem;
    border-radius: 0.1rem;
    background-color: #ffffff;
    position: absolute;
    top: auto;
    right: auto;
    bottom: 0.5rem;  
    left: 2rem;
  }

.article-header {
    font-size: 2.3rem;
    color: #c1c1c1;
    font-family: OpenSans-Bold;
    padding-left: 1rem;
    text-transform: uppercase;
  }

.article-content {
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    padding-left: 2rem;
    width: 280px;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 1.8rem;
  }

/*SECTION POSSIBILITIES*/

.article-possibilities-active {
    padding-top: 0;
    background-image: url("..//images/be-active.jpg");
    background-repeat: no-repeat;
    background-size: auto 35rem;
    background-position: center top;
  }

.article-number-possibilities {
    position: absolute;
    width: 7rem;
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    padding: 0;
    background-color: #5e42b0; 
    margin-top: 29.5rem;
    margin-left: 2rem;
  }

.article-number-possibilities::after {
    content: "";
    width: 1.5rem;
    height: 0.4rem;
    border-radius: 0.1rem;
    background-color: #ffffff;
    position: absolute;
    z-index: 0;
    top: auto;
    right: auto;
    bottom: 2rem;  
    left: 2.62rem;
    opacity: 0.5;
  }

.header-possibilities {
    padding-top: 38rem;
    padding-left: 2rem;
  }

.section-possibilities .article-content {
    padding-bottom: 7.5rem;
  }

.article-possibilities-find {
    padding-top: 0;
    background-image: url("..//images/find-contact.jpg");
    background-repeat: no-repeat;
    background-size: auto 35rem;
    background-position: center top;
  }

.article-possibilities-work {
    padding-top: 0;
    background-image: url("..//images/work-it.jpg");
    background-repeat: no-repeat;
    background-size: auto 35rem;
    background-position: center top;
  }

/*FOOTER*/

.footer {
    width: 100%;
    background-image: url("../images/game_767.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    position: relative;
  }
  
.footer::after {
    content: "";
    background-color: #191c3f;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

.footer-content-container {
    position: relative;
    z-index: 100; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
.logo-container {
    background-color: #553ba2;
    width: 7.5rem;
    height: 7.5rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
  }

.logo {
    display: block;
    width: 5rem;
    fill: #ffffff;
  }

.download {
    text-transform: uppercase;
    padding-top: 6rem;
    font-family: OpenSans-Bold;
  }

.download-title {
    color: #ffffff;
    font-size: 3.2rem;
  }

.download-content {
    color: #9b8ec1;
    font-size: 1.4rem;
    text-align: center;
    font-family: OpenSans-Regular;
  }

.footer .stores-links {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

.footer .logo-text {
   padding-top: 0;
   padding-bottom: 1rem;
  } 
    
